<div class="px-3 py-4">
    <div class="content container-fluid">
        <h3 class="text-anton text-maastricht-blue pb-2">ATHLETES</h3>
        <form id="athlete" class="card" method="post" onsubmit="return false;">
            <div class="card-body">
                <div class="row">
                    <div class="col form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                    </div>
                    <div class="col form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="col form-group">
                        <label for="sport">Sport</label>
                        <select class="form-control" name="sport" id="sport">
                            <option>Football</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2 pt-4">
                        <button type="submit" class="btn btn-soft-green rounded-0 mt-2 w-100" onclick="addAthlete()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div id="message"></div>

        <div class="content col-12 mt-5 pt-4 pb-5 px-4" style="height: fit-content">
            <table id="athletes-grid" class="table text-maastricht-blue m-0" style="width: 100%">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Sport</th>
                    <th>Home Town</th>
                    <th>Major</th>
                    <th>Transcription Status</th>
                    <th>Status</th>
                </tr>
                </thead>
            </table>
            <div id="message"></div>
        </div>
    </div>
</div>
<script>
    var athletesGrid = null;

    function addAthlete(){
        if (document.forms[0].firstName.value == '') {
            $('#message').html(`<div class="alert alert-danger">First Name is required</div>`);
            document.forms[0].firstName.focus();
            return;
        };

        if (document.forms[0].lastName.value == '') {
            $('#message').html(`<div class="alert alert-danger">Last Name is required</div>`);
            document.forms[0].lastName.focus();
            return;
        };

        $('#message').html(`<div class="text-center" style="position: absolute; width: 100vw; height: 100vh; z-index: 200;"><h5 class="text-anton text-maastricht-blue pb-2">Adding ...</h5><div style="width: 5rem; height: 5rem;" class="spinner-border" role="status">
                <span class="sr-only text-maastricht-blue">Adding ...</span>
            </div></div>`)

        submitForm("athlete", "/api/athletes", "", function(data){
            document.forms[0].firstName.value = '';
            document.forms[0].lastName.value = '';
            athletesGrid.ajax.reload();
            $('#message').html(``);
        });
    }

    function getStatStatusClass(status) {
        if (status === 100) {
            return 'bg-success';
        }

        if (status === 0) {
            return 'bg-danger';
        }
        if (status > 1 && status < 100) {
            return 'bg-warning';
        }

        return 'bg-secondary';
    }

    $(document).ready(function () {
        athletesGrid = $("#athletes-grid").DataTable({
            dom: '',
            ajax: "/api/athletes",
            columns: [
                { "render": function (data, type, row) {
                        if (!row.completed_bio) {
                            return `<div class="d-inline-flex" style="grid-gap: 0.2rem;" data-toggle="tooltip" data-placement="bottom" title="Incomplete Biography">
    <img src="/images/warning.svg" alt="Incomplete Biography Warning" />${row.first_name}
</div>`;
                        }
                        return row.first_name;
                    }
                },
                { data: 'last_name' },
                { data: 'date_of_birth' },
                { data: 'sport' },
                { data: 'home_town' },
                { data: 'major' },
                { "render": function(data, type, row) {
                        let html = '<div class="d-flex" style="grid-gap: 0.5rem;">';
                        html += `<div class="d-flex text-white" style="font-size: 0.6rem; font-weight: bold;">
    <span class="bg-dark rounded-left p-1">Media</span>
    <span class="${getStatStatusClass(row.transcript_stats.total_media > 0 ? 100 : 0)} rounded-right p-1">${row.transcript_stats.total_media}</span>
</div>`;
                        html += `<div class="d-flex text-white" style="font-size: 0.6rem; font-weight: bold;">
    <span class="bg-dark rounded-left p-1">Verified</span>
    <span class="${getStatStatusClass(Math.round((row.transcript_stats.valid_media / row.transcript_stats.total_media) * 100))} rounded-right p-1">${row.transcript_stats.valid_media}</span>
</div>`;
                        html += `<div class="d-flex text-white" style="font-size: 0.6rem; font-weight: bold;">
    <span class="bg-dark rounded-left p-1">Completed</span>
    <span class="${getStatStatusClass(Math.round((row.transcript_stats.processed / row.transcript_stats.valid_media) * 100))} rounded-right p-1">${row.transcript_stats.processed}</span>
</div>`;
                        html += "</div>";
                        return html;
                    }
                },
                { "render": function(data, type, row) {
                        let icons = `<button class="btn btn-soft-green" onclick="loadPage('/api/athletes/${row.id}', 'content')"> Profile </button>`
                        icons = icons + ` <a class="fas fa-trash" href="#" onclick="deleteAthlete(${row.id})"></a>`
                        return icons
                    }
                }
            ],
            language: {
                emptyTable: `{% include ('snippets/datatable_empty.twig') %}`
            },
            processing: true,
            serverSide: true
        });
    });

    function deleteAthlete(id) {
        if (confirm("Delete Athlete ?")) {
            deleteUrl(`/api/athletes/${id}`, null, 'message', function (){
                athletesGrid.ajax.reload();
            })
        }
    }

</script>
