<div class="px-3 py-4">
    <div class="content container-fluid">
        <h3 class="text-anton text-maastricht-blue pb-2">Transcription Queue</h3>
        <div class="content col-12 mt-5 pt-4 pb-5 px-4" style="height: fit-content">
            <table id="queue-grid" class="table text-maastricht-blue m-0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Queue Action</th>
                        <th>Priority</th>
                        <th>Date Created</th>
                        <th>Player</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
            <div id="message"></div>
        </div>
    </div>
</div>
<div class="modal" id="priorityModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="priorityModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    if (typeof queueGrid === 'undefined') {
        let queueGrid = null;
    }
    $(document).ready(function() {
        queueGrid = $('#queue-grid').DataTable({
            "ajax": "/api/queue",
            "columns": [{
                    "data": "id"
                },
                {
                    "data": "action"
                },
                {
                    "data": "priority"
                },
                {
                    "data": "date_created"
                },
                {
                    "data": "player"
                },
                {
                    "render": function (data, type, row) {
                        let actions = [
                            `<a role="button" class="fas fa-trash" onclick="deleteQueueItem(${row.id})"></a>`,
                            `<a role="button" class="btn btn-secondary" onclick="showPriorityModal(${row.id})">Set Priority</a>`
                        ];
                        return actions.join("");
                    }
                }
            ],
            language: {
                emptyTable: `{% include ('snippets/datatable_empty.twig') %}`
            },
            "processing": true,
            "serverSide": true,
        });
    });

    function deleteQueueItem(id) {
        if (confirm("Delete Transcription Item?")) {
            deleteUrl(`/api/queue/${id}`, null, 'message', function (){
                queueGrid.ajax.reload();
            })
        }
    }

    function showPriorityModal(id) {
        showForm('GET', `/queue/${id}/priority`, 'content');
    }


</script>