<div class="px-3 py-4">
    <div class="content container-fluid">
        <h3 class="text-anton text-maastricht-blue pb-2">Transcription Queue</h3>
        <div class="content col-12 mt-5 pt-4 pb-5 px-4" style="height: fit-content">
            <table id="queue-grid" class="table text-maastricht-blue m-0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Id</th>
                        <th>Queue Action</th>
                        <th>Date Created</th>
                        <th>Player</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
            <div id="message"></div>
        </div>
    </div>
</div>

<script>
    if (typeof queueGrid === 'undefined') {
        let queueGrid = null;
    }
    $(document).ready(function() {
        queueGrid = $('#queue-grid').DataTable({
            "ajax": "/api/queue",
            "columns": [
                {
                    "render": function (data, type, row) {
                        return `<a role="button" onclick="showPrioritySelector(this, ${row.id})"><img src="/images/queue/priority-${row.priority}-on.svg" alt="Current Priority" /></a>`;
                    }
                },
                {
                    "data": "id"
                },
                {
                    "data": "action"
                },
                {
                    "data": "date_created"
                },
                {
                    "data": "player"
                },
                {
                    "render": function (data, type, row) {
                        let actions = [
                            `<a role="button" class="fas fa-trash" onclick="deleteQueueItem(${row.id})"></a>`
                        ];
                        return actions.join("");
                    }
                }
            ],
            language: {
                emptyTable: `{% include ('snippets/datatable_empty.twig') %}`
            },
            order: [[0, 'asc']],
            "processing": true,
            "serverSide": true,
        });
    });

    function deleteQueueItem(id) {
        if (confirm("Delete Transcription Item?")) {
            deleteUrl(`/api/queue/${id}`, null, 'message', function (){
                queueGrid.ajax.reload();
            })
        }
    }

    function showPrioritySelector(clickedEl, id) {
        // remove and selectors still open
        document.querySelectorAll('.priority-selector').forEach((el) => {
            el.remove();
        });
        // create a div append it to after the button clicked
        const prioritySelector = document.createElement('div');
        prioritySelector.id = `prioritySelector_${id}`;
        prioritySelector.classList.add('priority-selector');
        clickedEl.after(prioritySelector);
        showForm('GET', `/queue/${id}/priority`, prioritySelector.id);

        // Stop event propagation to prevent the document click listener from removing the selector
        prioritySelector.addEventListener('click', function(event) {
            event.stopPropagation();
        });
    }

    // click anywhere to close the priority selector
    document.addEventListener('click', function (event) {
        if (!event.target.closest('.priority-selector') && !event.target.closest('a[role="button"]')) {
            document.querySelectorAll('.priority-selector').forEach((el) => {
                el.remove();
            });
        }
    });

</script>