{% set user = request.session.get("user") %}
{% set user_permissions = request.session.get("user_permissions") %}
{% set user_groups_visible_permission = user_permissions.permissions.User_Groups.visible == "1" or user.user_group_id == "1" %}
{% set user_groups_create_permission = user_permissions.permissions.User_Groups.create == "1" or user.user_group_id == "1" %}
{% set user_groups_edit_permission = user_permissions.permissions.User_Groups.edit == "1" or user.user_group_id == "1" %}
{% set user_groups_delete_permission = user_permissions.permissions.User_Groups.delete == "1" or user.user_group_id == "1" %}
<div class="container-fluid">
    {% if user_groups_visible_permission %}
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-10">
                        <h3 class="text-anton pb-2 text-uppercase mb-0">User Groups</h3>
                    </div>
                    {% if user_groups_create_permission %}
                        <div class="col-2">
                            <button type="submit" class="btn btn-soft-green w-100 btn-text-lg"
                                    onclick="getUserGroupAddFormModal()">
                                + Add User Group
                            </button>
                        </div>
                    {% endif %}
                </div>
                <hr class="hor-line-gradient"/>
                <div class="content" style="height: fit-content">
                    <div class="table-responsive">
                        <table id="user-groups-grid" class="table text-black m-0" style="width: 100%">
                            <thead>
                            <!-- table details filled in completely by data tables -->
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="message"></div>
        <div id="form"></div>
    {% endif %}
</div>
{% if user_groups_visible_permission %}
    <script>
        if (typeof userGroupsGrid === 'undefined') {
            let userGroupsGrid;
        }

        userGroupsGrid = null;

        $(document).ready(function () {
            userGroupsGrid = $("#user-groups-grid").DataTable({
                dom: "",
                ajax: "/api/user_groups",
                columns: [
                    {
                        "title": "ID",
                        "data": "id",
                        "visible": false
                    },
                    {
                        "title": "Name",
                        "data": "name"
                    },
                    {
                        "title": "Date Created",
                        "data": "date_created"
                    },
                    {
                        "title": "Permissions",
                        "data": "permissions",
                        "width": "40%"
                    },
                    {
                        "title": "Status",
                        "data": "is_active",
                        "orderable": false,
                        "render": function (data, type, row) {
                            return data === 1 ? "Active" : "Inactive";
                        }
                    },
                    {
                        "title": "Actions",
                        "orderable": false,
                        "render": function (data, type, row) {
                            let actions = "";

                            {% if user_groups_edit_permission %}
                            actions += ` <a class="btn btn-outline-light text-black" href="#" onclick="getUserGroupEditFormModal('${row.id}')"><i class="fas fa-edit"></i></a>`;
                            {% endif %}

                            {% if user_groups_delete_permission %}
                            if (row.id !== 0) {
                                actions += ` <a class="btn btn-outline-light text-black" href="#" onclick="deleteUserGroup(${row.id})"><i class="fas fa-trash"></i></a>`;
                            }
                            {% endif %}

                            return actions;
                        }
                    }
                ],
                language: {
                    emptyTable: `{% include ("snippets/datatable_empty.twig") %}`
                },
                processing: true,
                serverSide: true
            });
        });

        {% if user_groups_create_permission %}
        /**
         * Function to get the user group form modal to add records.
         */
        function getUserGroupAddFormModal() {
            showForm("edit", `/api/user_groups/form?formToken={{ formToken() }}`);
        }
        {% endif %}

        {% if user_groups_edit_permission %}
        /**
         * Function to get the user group form modal to edit records.
         * @param id
         */
        function getUserGroupEditFormModal(id) {
            showForm("edit", `/api/user_groups/form?id=${id}&formToken={{ formToken() }}`);
        }
        {% endif %}

        {% if user_groups_delete_permission %}
        /**
         * Function to delete a user group.
         * @param id
         */
        function deleteUserGroup(id) {
            const deleteConfirmationMessage = "Delete User Group? All users' permissions in this user group will " +
                "be reset to the default user group."

            if (confirm(deleteConfirmationMessage)) {
                deleteUrl(`/api/user_groups/${id}`, null, "message", function () {
                    userGroupsGrid.ajax.reload();
                });
            }
        }
        {% endif %}
    </script>
{% endif %}