services:
#  python:
#    build: .
#    container_name: "qfinder-python"
#    ports:
#      - "8080:8080"
#    volumes:
#      - ./:/app
#    command: sh -c "uv sync && tail -f /app/logs/debug.log"
#    working_dir: /app
#    env_file:
#      - .env
#    depends_on:
#      - mysql
#      - mongo
#      - valkey
  mysql:
    image: mysql:8.4.2
    container_name: "qfinder-mysql"
    environment:
      MYSQL_ROOT_PASSWORD: "Pass1234!"
      MYSQL_DATABASE: "qfinder"
    ports:
      - "33068:3306"
    volumes:
      - "./database:/var/lib/mysql"
  mongo:
    image: mongo:latest
    container_name: "qfinder-mongo"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: qfinder_queue
    ports:
      - "27018:27017"
    volumes:
      - "./mongo:/data/db"
  valkey:
    image: valkey/valkey:latest
    container_name: "qfinder-valkey"
    ports:
      - "6379:6379"
