{% set user = request.session.get("user") %}
{% set user_permissions = request.session.get("user_permissions") %}
{% set home_visible_permission = user_permissions.permissions.Home.visible == "1" or user.user_group_id == "1" %}

{% extends "base.twig" %}

{% block navigation %}
{%  include "snippets/navigation.twig" %}
{% endblock %}

{% block content_public %}
    <div id="content" class="mt-4 my-4"></div>
    <script>
        {% if home_visible_permission %}
        window.location.href = '/dashboard/home';
        {% else %}
        window.location.href = "{{ user_permissions.landing_page_url }}";
        {% endif %}

        {# const socket = new ReconnectingWebSocket("ws://{{ request.headers.host }}/websocket/feed"); #}

        // // Do something when connected
        // socket.addEventListener("open", (event) => {
        //     console.log("Websocket connected!");
        //     socket.send("Ping!")
        // });
        //
        // // Listen for messages
        // socket.addEventListener("message", (event) => {
        //     console.log("Message from server ", event.data);
        //     //socket.send('Received!')
        // });
    </script>
{% endblock %}
