{% extends "base.twig" %}

{% block head_content %}
    <script src="/js/emoji.js"></script>
    <script src="/js/reconnecting-websocket.js"></script>
    <link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.2.1/b-3.2.1/sp-2.3.3/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.2.1/b-3.2.1/sp-2.3.3/datatables.min.js"></script>
{% endblock %}


{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" href="/dashboard">Menu</a>
        </button>
        <a class="navbar-brand" href="/dashboard">
            <img src="/images/logos/qfinder-logo-dark.svg" class="img-fluid" alt="QFinder" />
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-1">
                    <a class="nav-link" id="homeLink" href="#" role="button" onclick="loadPage('/dashboard/home', 'content'); teamQNavSetActive(this);">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" id="athleteLink" href="#" role="button" onclick="loadPage('/dashboard/athletes', 'content'); teamQNavSetActive(this);">Athletes</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" id="queueLink" href="#" role="button" onclick="loadPage('/dashboard/queue', 'content'); teamQNavSetActive(this);">Queue</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            </ul>
        </div>
    </nav>
{%  endblock %}


{% block content_public %}
    <div id="content"></div>
    <script>
        loadPage('/dashboard/home', 'content');
        teamQNavSetActive($('#homeLink')[0]);

        {#const socket = new ReconnectingWebSocket("ws://{{ request.headers.host }}/websocket/feed");#}

        // // Do something when connected
        // socket.addEventListener("open", (event) => {
        //     console.log("Websocket connected!");
        //     socket.send("Ping!")
        // });
        //
        // // Listen for messages
        // socket.addEventListener("message", (event) => {
        //     console.log("Message from server ", event.data);
        //     //socket.send('Received!')
        // });
    </script>
{% endblock %}
