{% set user = request.session.get("user") %}
{% set permissions = request.session.get("permissions") %}
{% extends "base.twig" %}

{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" href="/dashboard">Menu</a>
        </button>
        <a class="navbar-brand" href="/dashboard">
            <img src="/images/logos/qfinder-logo-dark.svg" class="img-fluid" alt="QFinder"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if permissions.Home.visible == "1" or user.user_group_id == "1" %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="homeLink" href="#" role="button"
                           onclick="loadPage('/dashboard/home', 'content'); teamQNavSetActive(this);">Home<span
                                    class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                {% if permissions.Athletes.visible == "1" or user.user_group_id == "1" %}
                <li class="nav-item mx-1">
                    <a class="nav-link" id="athleteLink" href="#" role="button"
                       onclick="loadPage('/dashboard/athletes/all', 'content'); teamQNavSetActive(this);">Athletes</a>
                </li>
                {% endif %}
                {% if permissions.Users.visible == "1" or user.user_group_id == "1" %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="usersLink" href="#" role="button"
                           onclick="loadPage('/api/users/landing', 'content'); teamQNavSetActive(this);">Users</a>
                    </li>
                {% endif %}
                {% if permissions.User_Groups.visible == "1" or user.user_group_id == "1" %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="usersLink" href="#" role="button"
                           onclick="loadPage('/api/user_groups/landing', 'content'); teamQNavSetActive(this);">
                            User Groups
                        </a>
                    </li>
                {% endif %}
                {% if permissions.Queue.visible == "1" or user.user_group_id == "1" %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="queueLink" href="#" role="button"
                           onclick="loadPage('/dashboard/queue', 'content'); teamQNavSetActive(this);">Queue</a>
                    </li>
                {% endif %}
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block content_public %}
    {# Todo: ChanBos -> Remove #}
    {{ dump(permissions) }}
{#    {{ dump(permissions.Home) }}#}
{#    {{ dump(permissions.Home.visible) }}#}
    <div id="content"></div>
    {# Todo: ChanBos -> Figure out landing page #}
    <script>
        {% if user.user_group_id == "1" %}
            loadPage('/dashboard/home', 'content');
            teamQNavSetActive($('#homeLink')[0]);
        {% else %}
            loadPage('/dashboard/athletes/all', 'content')
            teamQNavSetActive($("#athleteLink")[0]);
        {% endif %}

        {# const socket = new ReconnectingWebSocket("ws://{{ request.headers.host }}/websocket/feed"); #}

        // // Do something when connected
        // socket.addEventListener("open", (event) => {
        //     console.log("Websocket connected!");
        //     socket.send("Ping!")
        // });
        //
        // // Listen for messages
        // socket.addEventListener("message", (event) => {
        //     console.log("Message from server ", event.data);
        //     //socket.send('Received!')
        // });
    </script>
{% endblock %}
