{% set user = request.session.get("user") %}
{% set user_permissions = request.session.get("user_permissions") %}
{% set home_visible_permission = user_permissions.permissions.Home.visible == "1" or user.user_group_id == "1" %}

{% extends "base.twig" %}

{% block navigation %}
    {%  include "snippets/navigation.twig" %}
{% endblock %}

{% block content_public %}
    <h1>QFinder Settings</h1>

{% endblock %}