{% extends "base.twig" %}

{% block content_public %}
<div id="results"></div>
<script>
    $.ajaxSetup({
        headers:{
            'Authorization': "Bearer {{ TEAMQ_API_KEY }}"
        }
    });

    $.post('{{ TEAMQ_RESULTS_ENDPOINT }}', data=JSON.stringify({"data": [{candidate_id: "67b30c2e48e8d4a977af280d"}]}),
        function (data) {
            console.log(data)
        }
    );
</script>
{% endblock %}
