{% set logged_in = request.session.get("logged_in") %}

{% extends "base.twig" %}

{% block content_public %}
    <div class="page-container row m-0">
        {% include "snippets/form_side_graphic.twig" %}

        <div class="col d-flex flex-column justify-content-center align-items-center bg-white text-black">
            <div class="p-3">
                <h1 class="text-anton text-uppercase">Reset Password</h1>
                <form id="forgotPasswordForm" onsubmit="return false;">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="Email"
                               value=""/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" name="password" id="password" placeholder="Password" value="" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input class="form-control" name="confirm_password" id="confirm_password" placeholder="Password"
                               value="" autocomplete="off" />
                    </div>

                    <button class="login-signup-button btn btn-lg" title="Log In"
                            onclick="resetPassword()">
                        Request Password Reset
                        <i class="progress-spinner fa fa-spinner fa-spin ml-3"></i>
                    </button>
                    {{ "forgotPasswordForm" | formToken }}
                </form>

                <div class="mt-2" id="message"></div>
            </div>
        </div>
    </div>

    <script>
        $(".progress-spinner").hide();

        $.validator.addMethod("passwordMatch", function (value) {
            const passwordValue = $("#password").val();

            return value === passwordValue;
        }, "Passwords do not match");

        $("#forgotPasswordForm").validate({
            rules: {
                email: {
                    required: true
                },
                password: {
                    required: true
                },
                confirm_password: {
                    required: true,
                    passwordMatch: true
                }
            }
        });

        function resetPassword() {
            if ($('#forgotPasswordForm').valid()) {
                $(".progress-spinner").show();
                saveForm('forgotPasswordForm', '/forgot_password?formToken={{ formToken() }}');
            }
        }

        $("#passwordVisibility").on("click", function () {
            togglePasswordVisibility();

            const prompt = $("#passwordVisibilityPrompt");

            if (prompt.text().trim() === "Hide") {
                prompt.text("Show");
                $("#passwordVisibility i").removeClass("fa-eye-slash").addClass("fa-eye");
            } else {
                prompt.text("Hide");
                $("#passwordVisibility i").removeClass("fa-eye").addClass("fa-eye-slash");
            }
        });
    </script>
{% endblock %}