<div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadProfileImageModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered player-results-modal" role="document">
        <div class="modal-content white-label">
            <div class="modal-header border-0">
                <h3 class="modal-title text-black text-anton" id="uploadProfileImageModal">Edit Photo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="gradient-separator mb-0"></div>
            <div class="modal-body vendor-edits p-0">
                <div id="cropContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-soft-green" onclick="saveCroppedImage()">
                    Save
                </button>
                <button type="button" class="btn btn-white-uppercase" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    const cropper = new ProfileCropper('file-upload', 'cropContainer', 'profileImageModal');
    cropper.init();
    function saveCroppedImage() {
        cropper.getCroppedImage().then(croppedImage => {
            // Handle the cropped image (e.g., upload it to the server or display it)
            console.log('Cropped Image:', croppedImage);
            // Close the modal after saving
            $('#profileImageModal').modal('hide');
        }).catch(error => {
            console.error('Error cropping image:', error);
        });
    }
</script>
