{% set user = request.session.get("user") %}
{% set user_permissions = request.session.get("user_permissions") %}
{% set links_visible_permission = user_permissions.permissions.Links.visible == "1" or user.user_group_id == "1" %}
{% set links_create_permission = user_permissions.permissions.Links.create == "1" or user.user_group_id == "1" %}
{% set links_delete_permission = user_permissions.permissions.Links.delete == "1" or user.user_group_id == "1" %}
<h3 class="text-uppercase mt-4">Links</h3>
{% if links_visible_permission %}
    {% if links_create_permission %}
        <form id="linkDetails" onsubmit="return false">
            <input type="hidden" name="player_id" value="{{ player_id }}">
            <div class="row">
                <div class="col-12 col-lg-8 form-group">
                    <label class="font-weight-bold" for="linkUrl">Link Url</label>
                    <input class="form-control" id="linkUrl" name="url" placeholder="https://...">
                </div>
                <div class="col-12 col-lg form-group">
                    <label class="font-weight-bold" for="mediaType">Link Type</label>
                    <select class="form-control" id="mediaType" name="mediaType">
                        <option value="video-youtube">YouTube</option>
                        <option value="link-bio">Bio Link</option>
                        <option value="video-generic">Video Link</option>
                        <option value="link-generic">Generic Link</option>
                    </select>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-none d-lg-block">&nbsp;</label>
                    <button class="btn btn-soft-green w-100 btn-text-lg" onclick="addLink()">
                        Add +
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
    <div id="linkMessage"></div>
    <hr class="hor-line-gradient"/>
    <div class="content mt-4" style="height: fit-content">
        <div class="table-responsive">
            <table id="links-grid" class="table text-black m-0" style="width: 100%">
                <thead>
                <!-- table details filled in completely by data tables -->
                </thead>
            </table>
        </div>
        <script>
            var linksGrid = null
            $(document).ready(function () {
                linksGrid = $("#links-grid").DataTable({
                    dom: '',
                    ajax: "/api/athlete/{{ player_id }}/links_data",
                    columns: [
                        {
                            "title": "Link Url",
                            "render": function (data, type, row) {
                                return `<a href="${row.url}" target="_blank" class='text-black'><u>${row.url}</u></a>`
                            }
                        },
                        {
                            "title": "Link Type",
                            data: 'media_type',
                        },
                        {% if links_delete_permission %}
                        {
                            "title": "Actions",
                            "orderable": false,
                            "render": function (data, type, row) {
                                return `<button class="btn btn-outline-light text-black" onclick="deleteLink(${row.id})"><i class="fas fa-trash"></i></button>`
                            }
                        }
                        {% endif %}
                    ],
                    language: {
                        emptyTable: `{% include ('snippets/datatable_empty.twig') %}`
                    },
                    processing: true,
                    serverSide: true
                });
            });

            {% if links_create_permission %}
            function addLink() {
                submitForm('linkDetails', '/api/athlete/{{ player_id }}/links', 'linkMessage', function () {
                    linksGrid.ajax.reload();
                });

            }
            {% endif %}

            {% if links_delete_permission %}
            function deleteLink(link_id) {
                if (confirm("Delete Link ?")) {
                    deleteUrl(`/api/athlete/{{ player_id }}/links/${link_id}`, null, 'linkMessage', function () {
                        linksGrid.ajax.reload();
                    })
                }
            }
            {% endif %}
        </script>
    </div>
{% endif %}