<h5 class="text-anton text-maastricht-blue pb-2">Video Transcript - {{ video.title }} {{ video.url }}</h5>
<form class="form-inline">
    <div class="form-group">
        <label>Player :</label>
        <select class="form-control">
            <option>SPEAKER 1</option>
        </select>
    </div>
</form>
<!-- {{ RANDOM()~"ID" }} -->
