<div class="form-side-graphic-container col-md-6 d-flex flex-column justify-content-end justify-content-md-center align-items-center p-0 m-0">
    <div class="form-side-graphic-row row">
        <div class="col-12 px-0">
            <h1 class="form-side-graphic-text text-white">
                UNLOCKING YOUR TEAMS <span class="text-anton form-side-graphic-text text-inchworm-green">INNER GREATNESS</span>
            </h1>
        </div>
        <div class="col-12 px-0 mt-md-5">
            <img src="/images/logos/TeamQ_white.svg" alt="TeamQ Logo"
                 class="form-side-graphic-logo-teamq img-fluid"/>
        </div>
    </div>
</div>
