<nav class="navbar navbar-expand-lg navbar-light bg-light pb-3">
    <a class="navbar-brand" href="#">
        <img src="/images/logos/TeamQ_navy.svg" height="auto" width="250px" alt="PlayerQ Logo" class="img-fluid"/>
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbar-content" aria-controls="navbar-content"
            aria-expanded="false" aria-label="Toggle navigation">
        <img class="avatar mr-2" src="/images/avatar.svg" alt="Avatar"/>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/system/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system/users/landing">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system/roles/landing">Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system/templates/landing">Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system/transactions/landing">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system/pricing/landing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/system/organization/landing">Organization</a>
            </li>
        </ul>

        <div class="dropdown">
            <button type="button"
                    class="btn dropdown-toggle bg-transparent border-0 text-black font-weight-bold"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><img class="avatar mr-2" src="/images/avatar.svg" alt="Avatar"/>John Doe
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item text-black" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>