// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "./bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

// Assessment module
@import "aatos.scss";

.text-darker-green {
    color: $darker-green;
}

.navbar-brand img {
  height: 2rem;
  margin: 0 2rem;
}

.priority-selector {
  position: absolute;
  background-color: $gray-500;
  border-radius: 0.5rem;
  padding: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba($gray-500, 0.25);
  .form-check {
    padding: 0.2rem;
  }
  label {
    cursor: pointer;
  }
}