{% extends "base.twig" %}

{% block content_public %}
    <template>
        <div class="row">
            <div class="col">
                {{ player.first_name }}
                {{ player.last_name }}
            </div>
            <div class="col-2">
            <img class="img-fluid img-thumbnail rounded-circle"
                 style=" width: 64px"
                 src="data:image/png;base64,{{ player_image }}"
                 alt="Athlete Picture" />
            </div>
        </div>
    </template>

    <div class="container">
        {{ results.player }}
    </div>

    <script>
        const rowCards = document.querySelectorAll('#results > div.row > div.col-12.col-md-6');
        rowCards.forEach(card => card.remove());

        const template = document.querySelector('template');
        const modals = document.querySelectorAll('div.modal.fade');
        modals.forEach(modal => {
                modal.style.display = "block";
                modal.className = '';
                modal.removeAttribute('aria-hidden');
                const parent = modal.parentNode;
                parent.insertBefore(template, modal);
                modal.querySelector('.modal-header button').remove();
        });
    </script>
{%  endblock %}
