{% extends "base.twig" %}

{% block head_content %}
    <style>
        @media print {
            .page, .page-break { break-after: page; }
        }
    </style>
{% endblock %}

{% block content_public %}
    <div class="container-fluid">
        <div class="page">
            {% for page in report %}
                {{ page.html | replace ("[PLAYER_IMAGE]", "data:image/png;base64,"~player_image ) | replace ("[REPORT_DATE]", current_date) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}